body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #e3b2fa;
    font-family: Arial, sans-serif;
}

.title{
    text-align: left;
    font-size: 0.8rem;
    color: aliceblue;
}
.calculator {
    width: 300px;
    background-color: #222;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    text-align: center;
}

#display {
    width: 100%;
    height: 50px;
    font-size: 1.5em;
    text-align: right;
    margin-bottom: 15px;
    padding: 0px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: white;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.btn {
    width: 100%;
    height: 50px;
    font-size: 1.2em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #616060;
    color: white;
    transition: 0.2s;
}

.btn:hover {
    background-color: #666;
}

.operator {
    background-color: #ac4ac7;
}

.operator:hover {
    background-color: #5a2768;
}

.equal {
    background-color: #3b6d4f;
    grid-row: span 2;
}

.equal:hover {
    background-color: #27ae60;
}

.zero {
    grid-column: span 2;
}
